.pk-top {
  display: block;
  padding: 12px 0;
  background-color: #0d0d0d;
  font-size: 14px;
  font-weight: 300;
  color: #686868;
  a {
    font-size: 14px;
    font-weight: 300;
    color: #686868;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    div:first-child {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      flex: 0 1 775px;
    }
  }
  &__info {
    display: inline-block;
  }
  &__phone {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #686868;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.pk-page {
  display: block;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__title {
    display: block;
    margin: 80px 0 15px 0;
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 60px;
    font-weight: 400;
    text-align: center;
  }
  &__cover {
    display: block;
    width: 100%;
    padding-bottom: 70px;
    background: rgba(0, 0, 0, 0.6);
  }
}

.pk-header {
  display: block;
  padding: 16px 0;
  background: rgba(13, 13, 13, 0.7);
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex: 1;
  }
  &__right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
  }
  &__logo {
    display: inline-block;
    position: relative;
    width: 96px;
    height: 54px;
    a {
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
      img {
        display: block;
        width: 100%;
      }
    }
  }
  &__links {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    li {
      display: block;
      a {
        display: inline-block;
        padding: 4px 14px;
        color: #ffffff;
        font-family: "Playfair Display";
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
  &__social {
    display: inline-block;
    margin-right: 55px;
    a {
      display: inline-block;
      margin: 3px;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}

.pk-drop {
  display: inline-block;
  position: relative;
  padding: 6px 0;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
    text-decoration: none;
  }
  &__droper {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    span {
      display: inline-block;
      margin-right: 20px;
      color: #ffffff;
      font-family: "Playfair Display";
      font-size: 18px;
      font-weight: 400;
    }
    img {
      display: inline-block;
    }
  }
  &__nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 200px;
    max-width: 240px;
    padding: 6px 0;
    background: rgba(0, 0, 0, 0.9);
    li {
      display: block;
      a {
        display: block;
        padding: 6px 16px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
}

.pk-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: rgba(255, 255, 255, 0.47);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  li {
    display: inline-block;
    span {
      display: inline-block;
      margin: 0 10px;
    }
    a {
      display: inline-block;
      color: rgba(255, 255, 255, 0.47);
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}

.pk-menu {
  display: block;
  &__card {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    margin: 0 15px 30px 15px;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
    img {
      display: block;
      width: 100%;
      height: 175px;
      object-fit: cover;
    }
    &-title {
      display: block;
      width: 100%;
      overflow: hidden;
      background-color: #cd181f;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        padding: 6px;
      }
    }
  }
}

.pk-order {
  display: block;
  background: url('../images/order_bg.png') no-repeat center top;
  padding: 60px 0 100px 0;
  &__title {
    display: block;
    margin-bottom: 70px;
    color: #cd181f;
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 400;
    text-align: center;
  }
}

.pk-call {
  display: block;
  position: relative;
  width: 100%;
  max-width: 736px;
  min-height: 476px;
  margin: 0 auto;
  padding: 36px;
  box-shadow: -3px 43px 49px rgba(0, 0, 0, 0.16);
  background: #f1f1f1 url('../images/order_food.png') no-repeat center bottom;
  background-size: 100% auto;
  text-align: center;
  &__title {
    display: block;
    max-width: 460px;
    margin: 0 auto 20px auto;
    color: #000000;
    font-family: Aquarelle;
    font-size: 40px;
    font-weight: 400;
  }
  &__number {
    color: #cd181f;
    font-size: 30px;
    font-weight: 300;
  }
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 288px;
    height: 239px;
    left: 0;
    top: 120px;
    margin-left: -190px;
    background: url('../images/order_card_1.png') no-repeat left top;
  }
  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 288px;
    height: 239px;
    right: 0;
    top: 120px;
    margin-right: -190px;
    background: url('../images/order_card_2.png') no-repeat left top;
  }
}

.pk-footer {
  display: block;
  margin-top: -10px;
  padding: 54px 0 60px 0;
  background: url('../images/footer_bg.jpg') no-repeat center;
  background-size: cover;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__links {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin-right: 25px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
  &__right {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
  }
  &__info {
    margin-bottom: 20px;
    p {
      display: block;
      margin-bottom: 16px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }
    span {
      display: block;
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
    }
  }
  &__social {
    a {
      display: inline-block;
      margin-left: 12px;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}

.pk-creators {
  display: block;
  padding: 20px 0;
  background-color: #000000;
  text-align: center;
  span {
    margin-right: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
  }
  a {
    color: #cd181f;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.pk-gallery {
  display: block;
  padding-bottom: 70px;
  &__more {
    display: block;
    max-width: 210px;
    margin: 15px auto 40px auto;
    padding: 20px;
    border-radius: 27px;
    border: 1px solid #cd181f;
    background-color: transparent;
    color: #000000;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    text-align: center;
    &:hover,
    &:active,
    &:focus {
      background-color: #cd181f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__title {
    display: block;
    position: relative;
    max-width: 180px;
    margin: 0 auto 50px auto;
    color: #cd181f;
    font-family: "Playfair Display";
    font-size: 48px;
    line-height: 0.6;
    font-weight: 400;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: 'Наша';
      bottom: 100%;
      right: 0;
      color: #b1b1b1;
      font-family: Aquarelle;
      line-height: 1;
      font-size: 36px;
      font-weight: 400;
    }
  }
  &__card {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    height: 180px;
    margin: 0 15px 30px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      a {
        opacity: 1;
      }
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(205, 24, 33, 0.75);
      opacity: 0;
      transition: all 0.15s ease-out;
    }
  }
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.pk-place {
  width: 100%;
  min-height: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.pk-category {
  display: block;
  &__card {
    display: inline-flex;
    align-items: stretch;
    width: 100%;
    max-width: 537px;
    height: 152px;
    margin: 0 15px 30px;
    border-radius: 2px;
    background-color: #f3f3f3;
    img {
      display: inline-block;
      width: 195px;
      height: 100%;
      object-fit: cover;
    }
    &-description {
      display: inline-block;
      height: 130px;
      padding: 24px 30px;
      overflow: hidden;
      p {
        display: block;
        color: rgba(0, 0, 0, 0.7);
        font-size: 14px;
        font-weight: 300;
        line-height: 1.57;
      }
    }
    &-title {
      display: block;
      max-height: 56px;
      margin-bottom: 12px;
      overflow: hidden;
      color: #000000;
      font-size: 24px;
      font-weight: 700;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.pk-about {
  display: block;
  padding-bottom: 20px;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 60px auto;
  }
  p {
    display: block;
    max-width: 740px;
    margin-bottom: 40px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  blockquote {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 80px auto;
    padding: 75px;
    border: 9px solid rgba(205, 24, 33, 0.08);
    background-color: #ffffff;
    color: #cd181f;
    font-family: "Playfair Display";
    font-size: 30px;
    font-style: italic;
    line-height: 1.33;
    text-align: center;
  }
  &__title {
    display: block;
    margin-bottom: 30px;
    color: #000000;
    font-family: "Playfair Display";
    font-size: 40px;
    font-weight: 400;
    text-align: center;
  }
  &__preview {
    display: block;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto 55px auto;
    text-align: center;
    p {
      display: block;
      margin: 0 auto 0 auto;
      color: #000000;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      font-weight: 300;
      text-align: justify;
      text-align-last: center;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0 0 40px 0;
  color: #000000;
  font-weight: 900;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

.bg-0 {
  background: transparent !important;
}

.pk-home {
  &__sub-title {
    display: block;
    margin-bottom: 150px;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-weight: 300;
  }
  &__title {
    display: block;
    position: relative;
    margin: 230px auto 100px auto;
    color: #cd181f;
    font-family: "Playfair Display";
    font-size: 99px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 257px;
      height: 63px;
      bottom: 100%;
      left: 50%;
      margin-left: -128px;
      margin-bottom: 30px;
      background: url('../images/icon_title_before.png') no-repeat center;
      background-size: contain;
    }
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 257px;
      height: 63px;
      top: 100%;
      left: 50%;
      margin-left: -128px;
      margin-top: 30px;
      background: url('../images/icon_title_after.png') no-repeat center;
      background-size: contain;
    }
  }
}

.pk-cancer {
  display: block;
  padding: 85px 0 140px 0;
  background: url('../images/home_cancer.png') no-repeat left top;
  background-size: contain;
  .container {
    padding-top: 55px;
    background: url('../images/home_1.jpg') no-repeat right center;
    background-size: auto 100%;
  }
}

.pk-welcome {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 750px;
  box-shadow: -1px 13px 40px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 75px 60px 60px 60px;
  p {
    display: block;
    margin-bottom: 30px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__author {
    display: block;
    margin: 5px 0 7px 0;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
  }
  &__who {
    display: block;
    margin-bottom: 65px;
    opacity: 0.65;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
  }
  &__more {
    display: inline-flex;
    align-items: center;
    align-self: flex-end;
    color: #cd181f;
    font-family: "Playfair Display";
    font-size: 18px;
    font-weight: 400;
    span {
      margin-right: 10px;
    }
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #cd181f;
      text-decoration: none;
    }
  }
}

.pk-home-menu {
  display: block;
  padding: 100px 0 120px 0;
  background: url('../images/home_bg_2.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 50px;
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 400;
    text-align: center;
  }
}

.pk-seo {
  display: block;
  padding: 100px 0;
  background: url('../images/home_bg_3.jpg') no-repeat center;
  background-size: cover;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  img {
    max-width: 100%;
  }
  &__title {
    display: block;
    margin-bottom: 45px;
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 400;
    text-align: center;
  }
  p {
    display: block;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.pk-bottom {
  display: block;
  padding: 75px 0 80px 0;
  background-color: #f6f6f6;
  &__feedback {
    display: block;
    margin: 0 auto;
    color: #cd181f;
    font-family: "Playfair Display";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #cd181f;
      text-decoration: none;
    }
  }
  &__block {
    display: block;
    width: 100%;
    max-width: 580px;
    min-height: 300px;
    padding: 35px 56px;
    box-shadow: -1px 16px 43px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
  }
  &__title {
    display: block;
    margin-bottom: 18px;
    color: #cd181f;
    font-family: "Playfair Display";
    font-size: 18px;
    font-weight: 400;
  }
  &__ig {
    display: block;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 0;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.pk-reviews {
  display: block;
  position: relative;
  margin: 27px 0 35px 0;
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 39px;
    height: 39px;
    left: 50%;
    bottom: 100%;
    margin-left: -20px;
    margin-bottom: 5px;
    background: url('../images/icon_quote.png') no-repeat center;
    background-size: contain;
  }
  &__card {
    display: block;
    text-align: center;
    a {
      color: #000000;
      font-size: 14px;
      font-weight: 300;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #000000;
        text-decoration: none;
      }
    }
    &-text {
      display: block;
      height: 92px;
      margin-bottom: 15px;
      overflow: hidden;
      color: #000000;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.7;
      text-align: center;
      p {
        display: inline;
      }
      a {
        display: inline;
      }
    }
    &__author {
      display: block;
      text-align: center;
      color: #000000;
      font-size: 16px;
      font-weight: 700;
    }
  }
  .slick-prev {
    width: 9px;
    height: 18px;
    left: -20px;
    background: url('../images/icon_left.png') no-repeat center;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 10;
  }
  .slick-next {
    width: 9px;
    height: 18px;
    right: -20px;
    background: url('../images/icon_right.png') no-repeat center;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
    z-index: 10;
  }
}

.pk-modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 70px;
  .close {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 25px;
    top: 25px;
    background: transparent;
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
  }
  p {
    display: block;
    margin-bottom: 30px;
    color: #666565;
    font-size: 16px;
    font-weight: 300;
  }
  form {
    display: block;
    width: 100%;
    max-width: 405px;
  }
  input {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 26px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    background-color: rgba(255, 222, 0, 0);
    color: #666565;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:focus {
      border-color: #cd181f;
    }
  }
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 26px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    background-color: rgba(255, 222, 0, 0);
    color: #666565;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:focus {
      border-color: #cd181f;
    }
  }
  &__button {
    display: block;
    width: 100%;
    padding: 17px 32px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    background-color: #cd181f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
    }
  }
}

.pk-write {
  display: block;
  position: fixed;
  top: 50%;
  right: -106px;
  margin-top: -25px;
  padding: 18px 25px;
  background-color: #0d0d0d;
  color: #fffefe;
  font-size: 12px;
  font-weight: 400;
  transform: rotate(90deg);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  cursor: pointer;
  z-index: 30;
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
  }
}