@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .pk-top .container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 1.4;
  }
  .pk-top .container div:first-child {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 0 auto;
  }
  .pk-header__links {
    display: none;
  }
  .pk-header__left {
    display: none;
  }
  .pk-page__title {
    margin-top: 50px;
  }
  .pk-page {
    margin-bottom: 30px;
    padding-bottom: 50px;
  }
  .pk-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .pk-order {
    padding: 20px 0;
  }
  .pk-order__title {
    margin-bottom: 20px;
    font-size: 36px;
  }
  .pk-call {
    min-height: 400px;
    padding: 20px;
    &__title {
      font-size: 36px;
    }
    &:before,
    &:after {
      display: none;
    }
  }
  .pk-footer {
    padding: 20px 0;
  }
  .pk-footer .container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .pk-footer__links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    li {
      a {
        padding: 6px 12px;
      }
    }
  }
  .pk-footer__right {
    align-items: center;
    margin-top: 30px;
    text-align: center;
  }
  .pk-footer__social a {
    margin: 0 6px;
  }
  .pk-header__social {
    display: none;
  }
  .pk-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .pk-category__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    max-width: 100%;
    height: auto;
  }
  .pk-category__card-description {
    height: auto;
    padding: 10px 20px 20px 20px;
  }
  .pk-category__card img {
    display: block;
    width: 100%;
    height: 150px;
  }
  .pk-category {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .pk-footer__links li a {
    margin: 0;
  }
  .pk-about__title {
    margin-bottom: 20px;
    font-size: 36px;
  }
  .pk-about__preview {
    margin-bottom: 30px;
  }
  .pk-about img {
    margin-bottom: 30px;
  }
  .pk-about blockquote {
    margin-bottom: 30px;
    padding: 20px;
    font-size: 24px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 20px;
  }
  .pk-about p {
    margin-bottom: 25px;
  }
  .pk-home__title {
    margin-top: 150px;
    font-size: 50px;
  }
  .pk-home__sub-title {
    margin-bottom: 10px;
    font-size: 32px;
  }
  .pk-cancer {
    padding: 0 0 70px 0;
  }
  .pk-welcome {
    padding: 20px;
  }
  .pk-gallery {
    padding-bottom: 0;
  }
  .pk-home-menu {
    padding: 20px 0;
  }
  .pk-home-menu__title {
    margin-bottom: 30px;
  }
  .pk-seo {
    padding: 20px 0;
  }
  .pk-seo__title {
    margin-bottom: 30px;
  }
  .pk-seo img {
    margin-bottom: 20px;
  }
  .pk-bottom {
    padding: 10px 0 0 0;
  }
  .pk-bottom__block {
    margin-bottom: 10px;
  }
  iframe {
    max-height: 100vh;
  }
  .pk-modal {
    padding: 40px;
  }
  .pk-write {
    display: none;
  }
  .pk-page {
    padding-bottom: 0;
    &__cover {
      padding-bottom: 30px;
    }
  }
}