// bower:scss
// endbower
@font-face {
  src: url('../fonts/Lato-Medium.woff');
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Lato-Thin.woff');
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/Lato-Semibold.woff');
  font-family: "Lato";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Lato-Bold.woff');
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Lato-Heavy.woff');
  font-family: "Lato";
  font-weight: 800;
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  src: url('../fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/PlayfairDisplay-Italic.ttf');
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 700;
  src: url('../fonts/PlayfairDisplay-Bold.ttf');
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/PlayfairDisplay-BoldItalic.ttf');
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 900;
  src: url('../fonts/PlayfairDisplay-Black.ttf');
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/PlayfairDisplay-BlackItalic.ttf');
}

@font-face {
  font-family: Aquarelle;
  src: url('../fonts/Aquarelle.ttf');
}

body {
  background-color: #ffffff;
  color: #000000;
  line-height: 1.2;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@import "atoms";
@import "restyle";
@import "responsive";